---
#Checks:          '*,-fuchsia-*,-google-*,-zircon-*,-abseil-*,-modernize-use-trailing-return-type,-llvm-*'
Checks:          'bugprone-*,clang-analyzer-*,cert-*,cppcoreguidelines-*,modernize-*,performance-*,readability-*'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle:     none
